{% extends "base.html" %}
{% block content %}
    
    <ul class="collapsible">
        {% for movie in movies %}
        <li>
          <div class="collapsible-header white-text indigo darken-3 text-shadow">

            <div class="col s3">
              <i class="fas fa-caret-down white-text"></i>
              {% if session.user|lower == movie.created_by|lower %}
                  <a href="" class="btn-small green accent-4">Delete</a>
                  <a href="{{ url_for('edit_movie', movie_id=movie._id) }}" class="btn-small black-text indigo lighten-3">Edit</a>
              {% endif %}
            </div>

            <div class="col s9">
            <strong>{{ movie.title }}</strong> Users Rating : {{ movie.created_by }} | {{ movie.user_rating }}
            </div>

          </div>

          <div class="collapsible-body "><span><img src="{{ movie.poster }}" alt="Image of the movie"></span>
          <p>Director: {{ movie.director }}</p>
          <p>Actors: {{ movie.actors }}</p>
          <p>Genre: {{ movie.genre }}</p>
          <p>Year: {{ movie.released }}</p>
          <p>Type: {{ movie.type }}</p>
          <p>Rated: {{ movie.rated }}</p>
          <p>IMDB Rating: {{ movie.imdb_rating }}</p>
          <p>Plot: {{ movie.plot }}</p>
          
          </div>
        </li>
        {% endfor %}
      </ul>

{% endblock %}
